.sideBar {
  border-right: 5px double #a8dadc;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.sideBarchild {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-bottom: 1px solid black;
}
