<!DOCTYPE html>
<html lang="en">
  <link>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Namaste</title>
    <script src="/client-scripts/client.js"></script>
    <script defer src="/client-scripts/index.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
  </head>
  <body>
    <input type="text" id="message-text" /><button id="message-btn">
      Send Message
    </button>
    <div id="Messages">
      <ul class="Message-Box"></ul>
    </div>
  </body>
</html>
